version: '2.1'

services:
  terraform:
    volumes:
      - az-data:/root/.azure

  terraform-init:
    volumes:
      - az-data:/root/.azure

  az-login:
    extends: terraform
    entrypoint: []
    command: az login
    volumes:
      - az-data:/root/.azure

  backend-create:
    extends: terraform
    entrypoint: []
    environment:
      ARM_SUBSCRIPTION_ID: "${ARM_SUBSCRIPTION_ID}"
      ARM_LOCATION: "${ARM_LOCATION}"
      ENVIRONMENT: "${ENVIRONMENT}"
    command: "../bin/backend/create.sh -e ${ENVIRONMENT} -s ${ARM_SUBSCRIPTION_ID} -l ${ARM_LOCATION}"
    volumes:
      - az-data:/root/.azure

  backend-destroy:
    extends: terraform
    entrypoint: []
    environment:
      ARM_SUBSCRIPTION_ID: "${ARM_SUBSCRIPTION_ID}"
      ENVIRONMENT: "${ENVIRONMENT}"
    command: "../bin/backend/destroy.sh -e ${ENVIRONMENT} -s ${ARM_SUBSCRIPTION_ID}"
    volumes:
      - az-data:/root/.azure

volumes:
  az-data: